body {
   background-color: #f4f4f4; /*f4f4f4*/
   margin-top: 70px;
}

li {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.navbar-nav>li>a {
  color: #333333 !important;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
}

/* Brand Color Styling */

.fa, .glyphicon {
  color: #f05f40;
}

button {
  background-color: #f05f40 !important;
  border: none !important;
  color: white !important;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.nav-pills>li>a:hover, a {
  color: #f05f40;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #f05f40;
}

/* == FIND PLAYERS == */
.checkbox {
  margin: 10px;
}


/* Sean's CSS */
.nav-justified {
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav-justified > li > a {
  margin-left: 15px;
  margin-right: 15px;
}
object {
  pointer-events: none;
}
.navbar-brand {
  margin-top: -10px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: none;
}
.whitebox {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  border: none;
  border-radius: 10px;
  box-shadow:1px 1px 2px rgba(0,0,0,0.08);
}
.progress-bar, .progress-bar-right {
  background-color: #f05f40;
}
.progress-bar-right {
  display: block;
  float: right;
}
.img-fit{
  width: 100%;
  height: auto;
}
